<header class="d-flex flex-wrap justify-content-center p-3 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4">Angular Universal App</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [ariaCurrentWhenActive]="'page'">
        Home
      </a>
    </li>
  </ul>
</header>
