<div class="border-bottom shadow mb-5 bg-primary bg-gradient">
  <header class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-xl-8 py-5  text-center">

        <img class="d-block mx-auto mb-4"
             src="/assets/universal.svg"
             alt="Angular Universal Logo"
             width="72"
             height="72">

        <h1 class="display-5 mb-4 fw-bold text-white">
          Angular Universal Application
        </h1>

        <p class="lead mb-4  text-white">
          This app has been designed to showcase various amazing features of Angular Universal.
        </p>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="row justify-content-center mb-5 text-center">
    <div class="col-12 col-md-10 col-xl-8">
      <h2 class="fs-2 fw-semibold">Amazing Features:</h2>
      <p class="fs-6 fw-semibold fst-italic">(more coming soon)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title fw-semibold">Handle 404s</h3>
          <p class="card-text">
            Using Angular Universal it is possible to appropriately handle 404 Page Not Found,
            serving the correct HTTP status code
          </p>
          <a routerLink="/not-found" class="btn btn-primary">See 404 Example</a>
        </div>
      </div>
    </div>
  </div>
</div>
